<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Card</title>
</head>

<body>
    <%- include('header') %>
    <section class="report-section">

        <h1>Student report card</h1>
        <ul>
        <% student.map((stud)=>{ %>
            <li>
            <p>Name:<%= stud.name %> </p>
            <p>Grade:<%= stud.grade %></p>
            <p>Subject:<%=stud.subject %></p>
            </li>
            <% }); %>
        </ul>
    </section>
</body>

</html>